<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/" module="News" action="buildIndex" />
	<route url="/news-([0-9]+)\.html" module="News" action="buildNews" vars="id" />
	<route url="/commenter-([0-9]+)\.html" module="News" action="putInsertComment" vars="id" />
	<route url="/create-account.html" module="Connexion" action="putUser" />
	<route url="/logout.html" module="Connexion" action="clearConnection" />
	<route url="/connect.html" module="Connexion" action="getConnection" />
</routes>